﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
bin
packages
*.log
*.user
*.suo
*.log*
*.coverage
bootstrap.js
TestResult.xml

/SiteCreation/\[Build\]/*.bak
/EnvironmentSetup/License.config
/OneScreen/License.config
/OneScreen/App_Data/blobs
/Keys
/OneScreen/App_data/SearchIndex
/OneScreen.sln.VisualState.xml
/OneScreenAutoTests/SeleniumTools
/OneScreenAutoTests/TestRunLogs

!/OneScreen/App_Data/Modules/ImageVault.AddOn.EPiCMS7/bin
/.tgitconfig
/License.config
/OneScreen/Version.xml
/OneScreen/Web.Config
/OneScreen/Client/[S|s]

npm-debug.log
node_modules
.sass-cache
.tmp
/OneScreen/LogFiles/Errors

_framework-icons.scss
framework-icons.woff
framework-icons-new.woff
icons.html
.DS_Store
.vs
OneScreen.sublime-project
OneScreen.sublime-workspace
.idea

/UITests/TestRunLogs
!Logger/dist/

*.msi
/UITests/TestData/b2c-customers-to-add-to-db.csv
/UITests/TestData/b2b-customers-to-add-to-db.csv
Data
/UITests/TestData/not-telenor-customers-to-add-to-db.csv
